# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# PyCharm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

.env


